{% load i18n %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'bets:bets_home' %}">Euro 2016</a>
    </div>
    <ul class="nav navbar-nav">
      {% if active_groups %}
      <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Scores" %}
           <span class="caret"></span></a>
           <ul class="dropdown-menu">
           {% for bet_group in active_groups %}
             <li><a href="{% url 'scores:scores_home' bet_group %}">{{ bet_group }}</a></li>
           {% endfor %}
             <li class="divider"></li>
             <li><a href="{% url 'scores:scores_home' %}">{% trans "All Groups" %}</a></li>
           </ul>
         </li>
      {% else %}
      <li><a href="{% url 'scores:scores_home' %}">{% trans "Scores" %}</a></li>
      {% endif %}
      <li><a href="{% url 'bets:bets_rules' %}">{% trans "Rules" %}</a></li>
      <li><a href="{% url 'bets:bets_imprint' %}">{% trans "Imprint" %}</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li id="login"><a href="{% url 'auth:logout' %}?next={{ request.path }}"> [{{ user.get_username }}] <span class="glyphicon glyphicon-log-out"></span> {% trans "Logout" %}</a></li>
        {% else %}
        <li><a href="{% url 'auth:create' %}"><span class="glyphicon glyphicon-user"></span> {% trans "Register" %}</a></li>
        <li id="login"><a href="{% url 'auth:login' %}?next={{ request.path }}"><span class="glyphicon glyphicon-log-in"></span> {% trans "Login" %}</a></li>
        {% endif %}
      </ul>
  </div>
</nav>