{% extends parent_template|default:"scores/base_scores.html" %}
{% load i18n %}
{% block main %}
<h3>{% trans "Scores for:" %} {{ group }}</h3>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <table class="table table-hover">
    <tr><th>{% trans "Rank" %}</th><th>{% trans "User" %}</th><th>{% trans "Score" %}</th></tr>
    {% for rank in ranking %}
    <tr><td>{{ rank.0 }}</td><td>{{ rank.1 }}</td><td>{{ rank.2 }}</td></tr>
    {% empty %}
        <tr><td colspan=3>{% trans "No scores available." %}</td></tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endblock %}